{% extends 'base.html.twig' %}

{% block title %}Lesson index{% endblock %}

{% block body %}
    <h1>Lesson index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Video</th>
                <th>Picture1</th>
                <th>Picture2</th>
                <th>Picture3</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.id }}</td>
                <td>{{ lesson.content }}</td>
                <td>{{ lesson.video }}</td>
                <td>{{ lesson.picture1 }}</td>
                <td>{{ lesson.picture2 }}</td>
                <td>{{ lesson.picture3 }}</td>
                <td>
                    <a href="{{ path('app_lesson_show', {'id': lesson.id}) }}">show</a>
                    <a href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_lesson_new') }}">Create new</a>
{% endblock %}
