<div class="d-flex justify-content-center mt-4 mb-4">
    <hr width="75%">
</div>
<div class="home-page-border ">
    <div class="row ">
        <div class="col-xs-12 d-flex justify-content-center">
            <img src="{{ asset('Images/' ~ 'logo-ecoit-removebg.png') }}">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 d-flex justify-content-center">
            <a href="https://www.facebook.com/" target="_blank">
                <img class="logo-reseaux" src="{{ asset('Images/' ~ 'logo-fb.jpg') }}">
            </a>
            <a href="https://story.snapchat.com/" target="_blank">
                <img class="logo-reseaux" src="{{ asset('Images/' ~ 'logo-snap.jpg') }}">
            </a>
            <a href="https://twitter.com/?lang=fr" target="_blank">
                <img class="logo-reseaux" src="{{ asset('Images/' ~ 'logo-twitter.jpg') }}">
            </a>
            <a href="https://www.youtube.com/" target="_blank">
                <img class="logo-reseaux" src="{{ asset('Images/' ~ 'logo-youtube.jpg') }}">
            </a>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-2">
    <p>Copyright © 2022 ECOIT - <a href="#" target="_blank"> MENTIONS LEGALES</a></p>
</div>
