{% extends 'base.html.twig' %}

{% block title %}Quiz index{% endblock %}

{% block body %}
    <h1 class="color text-center mt-4">Résultat du quiz</h1>


{{ dump(quizInstructeur) }}
    {{ dump(quizApprenant) }}

    {{ dump(quizApprenant.response1) }}

    <div>
        <p>{{ quizApprenant.question1 }}</p>
        <p> {% if quizApprenant.response1 == quizInstructeur.response1 %}
Bravo ! Vous avez répondu correctement, la réponse été bien = {{ quizInstructeur.response1 }}
                {% else %}
                    Dommage ! Vous n'avez pas répondu correctement, la réponse été bien = {{ quizInstructeur.response1 ? 'Vrais' : 'Faux'}}

            {% endif %}
            {% if  quizInstructeur.not_good1 is defined  %}
        <p> <strong>Explication :</strong> {{ quizInstructeur.not_good1  }}</p>
            {% endif %}
        </p>
    </div>

    <div>
        <p>{{ quizApprenant.question2 }}</p>
        <p> {% if quizApprenant.response2 == quizInstructeur.response2 %}
                Bravo ! Vous avez répondu correctement, la réponse été bien = {{ quizInstructeur.response2 }}
            {% else %}
                Dommage ! Vous n'avez pas répondu correctement, la réponse été bien = {{ quizInstructeur.response2 ? 'Vrais' : 'no'}}
            {% endif %}
            {% if  quizInstructeur.not_good1 is defined  %}
        <p> <strong>Explication :</strong> {{ quizInstructeur.not_good2  }}</p>
        {% endif %}
        </p>
    </div>

    <div>
        <p>{{ quizApprenant.question3 }}</p>
        <p> {% if quizApprenant.response2 == quizInstructeur.response3 %}
                Bravo ! Vous avez répondu correctement, la réponse été bien = {{ quizInstructeur.response3 }}
            {% else %}
                Dommage ! Vous n'avez pas répondu correctement, la réponse été bien = {{ quizInstructeur.response3 ? 'Vrais' : 'Faux'}}

            {% endif %}
            {% if  quizInstructeur.not_good1 is defined  %}
        <p> <strong>Explication :</strong> {{ quizInstructeur.not_good3  }}</p>
        {% endif %}
        </p>
    </div>

    {#

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Good</th>
                <th>No_good</th>
                <th>Good_reponse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.id }}</td>
                <td>{{ quiz.title }}</td>
                <td>{{ quiz.good ? 'Yes' : 'No' }}</td>
                <td>{{ quiz.noGood ? 'Yes' : 'No' }}</td>
                <td>{{ quiz.goodReponse }}</td>
                <td>
                    <a href="{{ path('app_quiz_show', {'id': quiz.id}) }}">show</a>
                    <a href="{{ path('app_quiz_edit', {'id': quiz.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
#}
  {#   <a href="{{ path('app_quiz_new') }}">Create new</a>#}
{% endblock %}
