{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}

    <div>
        <div class="row ">
            <div class="col-xs-12">
                <h1 class="text-center mt-3">S'inscrire en tant qu'instructeur !</h1>
                <h3 class="mt-3">À savoir...</h3>
                <p>
                    &emsp;&emsp;&emsp;&emsp; <strong class="ecoit">ECOIT</strong> est un organisme de formation, pour
                    postuler en tant qu'instructeur, vous devez être un expert en accessibilité et en éco-conception
                    web, votre objectif principale consiste à la création de cours pour les apprenants.
                </p>
                <p>Après avoir postulé en tant qu'instructeur votre compte ne sera pas automatiquement validé par nos
                    équipes, vous recevrez un lien par mail afin de convenir d'un rendez-vous. C'est à ce
                    moment-là que nous échangerons ensemble  sur vos motivations ainsi que votre savoir-faire. À la
                    suite de cet entretien, nous validerons ou non votre inscription.
                </p>
            </div>
        </div>
        <div class="row mt-4 form_border">
            <div class="col-xs-12 d-flex justify-content-center ">
                {{ form_start(registrationForm , {
                    'attr' : {'class' :  'mb-3 mt-3 font-weight-bold text-uppercase '}
                }) }}


                {{ form_row(registrationForm.email , {
                    label: 'E-mail : ',
                    'attr': {'class': 'mb-3'}
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe : ',
                    'attr': {'class': 'mb-3'}
                }) }}

                {{ form_row(registrationForm.firstName, {
                    label: 'Prénom : ',
                    'attr': {'class': 'mb-3'}
                }) }}
                {{ form_row(registrationForm.name, {
                    label: 'Nom : ',
                    'attr': {'class': 'mb-3'}
                }) }}

                {{ form_row(registrationForm.descriptionSpecialty, {
                    label: 'Description courte sur vos spécialités : ',
                    'attr': {'class': 'mb-3'}
                }) }}
                {{ form_row(registrationForm.profilePicture , {
                    label: 'Photo de profil : ' ,
                    'attr': {'class': 'mb-3'}
                }) }}

                <button type="submit" class="btn btn-success">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>





{% endblock %}
