{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    {% for message in app.flashes('obligation-apprenant') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}


    <div>
        <div class="row ">
            <div class="col-xs-12">
                <h1 class="text-center mt-3">Créer un compte apprenant !</h1>
                <h3 class="mt-3">À savoir...</h3>
                <p>
                    &emsp;&emsp;&emsp;&emsp; <strong class="ecoit">ECOIT</strong> est un organisme de formation, vous
                    trouverez sur notre plateforme des cours de code pour apprendre le développement web. Tous nos cours
                    sont assuré par des instructeurs experts en accessibilité et en éco-conception
                    Web.
                </p>
                <p>Si tu es sur notre site, c'est que tu es intéressé par le développement web et que tu souhaites te
                    former aux nouvelles technologies. Tu trouveras des cours pour le Front-end et le Back-end. Les
                    instructeurs sur notre plateforme sont systématiquement validés par nos services ce qui garantit un
                    gage de qualité. Les instructeurs sont chacun spécialisé dans leur domaine, ils pourront t'apporter
                    leurs expertises et leurs savoirs. Sur notre plateforme, tu trouveras une grande communauté
                    d'apprenant de tout niveau avec qui tu pourras communiquer, échanger sur l'environnement web ce qui
                    t'apportera une grande aide pour ton apprentissage. <strong>Allez, fonces et inscris-toi dès maintenant !</strong>
                </p>
            </div>
        </div>
        <div class="row mt-4 form_border">
            <div class="col-xs-12 d-flex justify-content-center ">

                {{ form_start(registrationForm , {
                    'attr' : {'class' :  'mb-3 mt-3 font-weight-bold text-uppercase ' , 'style' : 'font-style: italic;'}
                }) }}
                {{ form_row(registrationForm.email , {
                    label: 'E-mail :',
                    'attr': {'class': 'mb-3'}
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe :',
                    'attr': {'class': 'mb-3'}
                }) }}
                {{ form_row(registrationForm.pseudo, {
                    label: 'Pseudo :',
                    'attr': {'class': 'mb-3'}
                }) }}


                <button type="submit" class="btn btn-success">S'inscrire</button>
                {{ form_end(registrationForm) }}

            </div>
        </div>
    </div>
{% endblock %}
