{% extends 'base.html.twig' %}

{% block title %}Section index{% endblock %}

{% block body %}
    {% for message in app.flashes('questionnaire-null') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <a href="{{ path('app_formation_show', {'id' : formation}) }}" class="d-flex justify-content-end text-end mt-2">Retour à la formation</a>


    <h1 class="color text-center">{{ sectionEncour }}</h1>

    <div class="d-flex justify-content-end mt-3">
        <a href="{{ path('app_quiz_edit', {'id' : sectionEncour.id }) }}"><btn class="btn btn-secondary">Quiz fin de section</btn></a>
    </div>
    <div class="row mt-4" >
        <div class="col-md d-flex flex-row flex-wrap justify-content-around">
            {% for lesson in lessons %}
                <div class="card  m-2 border-formations" style="overflow:hidden;width: 288px; min-width: 288px">
                    <div class="card-body">
                        <h5 class="card-title">{{ lesson.title }}</h5>
                    </div>
                    <div class="btn-access-formation" >
                        <a href="{{ path('app_lesson_show', {'id': lesson.id }) }}" class="btn btn-primary" >Acceder à la leçon</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if lessons == [] %}
        <div class="row mt-2">
            <div class="col d-flex justify-content-center alert alert-secondary">
                <p>Il n'y a pas encore de leçons de créer pour cette section, mais revient vite, l'instructeur doit être en train de la préparer...</p>
            </div>

        </div>
    {% endif %}

{% endblock %}
{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}
