{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    <div>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center mt-3">Valider les demandes d'instructeurs</h1>
                <p class="mt-3">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Vous trouverez sur cette liste, les noms, prénoms, et spécialités des instructeur qui n'ont pas
                    encore été accepté par nos équipes, vous avez la possibilité en tant qu'administrateur du site de
                    les valider en cliquant directement sur le bouton <strong>modifier</strong>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                    <tr class="text-center">
                        <th>E-mail</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Description sur ses spécialités :</th>
                        <th>Validé</th>
                        <th>➕</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        {% if user.roles == ["ROLE_POSTULANT"] %}
                            {% if user.isAccepted == false %}
                                <tr class="text-center">
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.firstName }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.descriptionSpecialty }}</td>
                                    <td>{{ user.isAccepted ? 'Yes' : '❌' }}</td>
                                    <td>
                                        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-success">Modifier</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {#  <a href="{{ path('app_user_new') }}">Create new</a> #}
{% endblock %}
