{% extends 'base.html.twig' %}

{% block title %}Liste des leçons{% endblock %}

{% block body %}
    <a href="{{ path('app_formation_show', {'id' : formation}) }}" class="d-flex justify-content-end text-end mt-2">Retour aux sections</a>

    <h1 class="color text-center">{{ sectionEncour }}</h1>
    <div class="d-flex justify-content-around mt-3">
       <a href="{{ path('new_lesson', {'id' : sectionEncour.id }) }}"><btn class="btn btn-primary">Ajouter une leçon</btn></a>
        <a href="{{ path('app_quiz_new', {'id' : sectionEncour.id }) }}"><btn class="btn btn-primary">Ajouter une question</btn></a>

    </div>
    <div class="row mt-4" >
        <div class="col-md d-flex flex-row flex-wrap justify-content-around">
            {% for lesson in lessons %}
                <div class="card  m-2 border-formations" style="overflow:hidden;width: 288px; min-width: 288px">
                    <div class="card-body">
                        <h5 class="card-title">{{ lesson.title }}</h5>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="btn-access-formation" >
                            <a href="{{ path('app_lesson_show', {'id': lesson.id }) }}" class="btn btn-primary" >Acceder à la leçon</a>
                        </div>
                        <div>
                            <a href="{{ path('app_lesson_edit',{'id': lesson.id } ) }}"
                               class="btn btn-success">Modifier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if lessons == [] %}
        <div class="row mt-2">
            <div class="col d-flex justify-content-center alert alert-secondary">
                <p>Vous n'avez pas encore déposé de leçon pour cette section.</p>
            </div>

        </div>
    {% endif %}


{% endblock %}
