{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    {% if sectionsFormation == [] %}
        <div class="row mt-2">
            <div class="col d-flex justify-content-center alert alert-secondary">
                <p>Vous n'avez pas encore mis de section concernant cette formation.</p>
            </div>
        </div>
    {% else %}
        <div class="row mt-2">
            <div class="col d-flex justify-content-center align-items-center alert alert-secondary">
                <p>Vous pouvez modifier le titre de vos <strong>sections</strong>. Pour modifier vos
                    <strong>cours</strong>, vous pouvez contacter nos équipes en cliquant <a href="mailto:chaminadepierre.24@gmail.com?subject=Modifications de cours">ici</a></p>
            </div>

        </div>
    {% endif %}
    <a href="{{ path('liste_formations') }}" class="d-flex justify-content-end text-end mt-2">Retour à la liste des
        formations</a>

    <div class="row mt-4 cadre">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <h1 id="souligne"><i>{{ formation.title }}</i></h1>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="{{ asset('Formation/' ~  formation.picture ) }}"
                 class="card-img-top mx-auto shadow rounded mt-2  " alt="cover formation"
                 style="width:200px;height:260px">
        </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
        <a href="{{ path('new_section' , {'id' :  formation.id} ) }}"><btn class="btn btn-primary">Ajouter une section</btn></a>

    </div>


    <div class="row mt-4">
        <div class="col-md d-flex flex-row flex-wrap justify-content-around">
            {% for sectionFormation in sectionsFormation %}
                <div class="card  m-2 border-formations" style="overflow:hidden;width: 288px; min-width: 288px">
                    <div class="card-body">
                        <h5 class="card-title">{{ sectionFormation.title }}</h5>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <div>
                            <a href="{{ path('app_section_edit' , {'id' :  sectionFormation.id} ) }}"
                               class="btn btn-success">Modifier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}
